# Please keep this list alphabetically sorted (case-insensitive)

boto
# Coffin
git+git://github.com/dcramer/coffin.git
cssutils
Django == 2.2.24
# django-piston
django-localflavor
hg+http://bitbucket.org/malept/django-piston
# django-newcache
# git+git://github.com/ericflo/django-newcache.git
# django-registration
# hg+http://bitbucket.org/ubernostrum/django-registration
# django-staticfiles
git+git://github.com/malept/django-staticfiles.git
docutils
Jinja2 >= 2.3
oauth2
# Facebook's python-sdk (with modifications)
git+git://github.com/malept/python-sdk.git
PIL
Sphinx >= 1.0
SQLAlchemy
# library for Twitter
tweepy
