{% extends 'registration/base_registration.html' %}

{% block title %}{% trans %}Change password{% endtrans %}{% endblock %}

{% block content_title %}<h2>{% trans %}Account{% endtrans %} &raquo; {{ user.username }}</h2>{% endblock %}

{% block content %}
<form action="" method="post" id="password_change_form">
  <ul id="box-nav">
    <li class="selected"><a href="{% url 'baph_password_change' %}">{% trans %}Change password{% endtrans %}</a></li>
    <li class="last"><a href="{% url 'baph_email_change' %}">{% trans %}Change email{% endtrans %}</a></li>
  </ul>
  <fieldset>
    <legend>{% trans %}Change Password{% endtrans %}</legend>
    {% csrf_token %}
    {{ form.as_p()|safe }}
  </fieldset>
  <input type="submit" value="{% trans %}Change password{% endtrans %}" />
</form>
{% endblock %}
